@font-face {
    font-family: 'Tajawal';
    src: url('../fontes/Tajawal-Regular.ttf') format("truetype"),local('Tajawal');
}
html, body{
    direction: rtl;
    text-align: right;
}
body{
    font-family: 'Tajawal' sans-serif;
}
.post{
    margin: 10px;
    border: 2px solid dark;
}
#btn-editing{
    float: left;
}
