.postes{
    background-color: white;
    border:solid 2px black;
    border-radius: 10px;
}
.comment{
    background-color: white;
    border:solid 2px grey;
    border-bottom: solid 3px black;
}
.back-btn{
    float: left;
}