.login{
    border:solid 2px grey;
    border-bottom: solid 3px black;
}
#username{
    border:solid 2px grey;
    height: 50px;
    border-bottom: solid 3px black;
    border-radius: 10px;
}
#password{
    border:solid 2px grey;
    height: 50px;
    border-bottom: solid 3px black;
    border-radius: 10px;
}
.border{
    border:solid 2px grey;
    border-bottom: solid 3px black;
}
.back-btn{
    float: left;
}