@font-face {
    font-family: 'Tajawal';
    src: url('../fontes/Tajawal-Regular.ttf') format("truetype"),local('Tajawal');
}
html, body{
    direction: rtl;
    text-align: right;
}
body{
    font-family: 'Tajawal' sans-serif;
}